.sobremi {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.sobremi .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.sobremi h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span{
    color: #00FFFF;
    font-weight: normal;

}

.sobremi .fila {
    display: flex;
}

.sobremi .fila .col {
    width: 50%;
}

.sobremi .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.sobremi .fila .col ul {
    list-style: none;
}

.sobremi .fila .col ul li {
    margin: 12px 0;
}

.sobremi .fila .col ul li strong {
    display: inline-block;
    color: #00FFFF;
    width: 130px;
}

.sobremi .fila .col ul li  {
    background-color: #00FFFF;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .contenido-intereses {
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .contenido-intereses .interes {
    width: 100px;
    height: 100px;
    background-color: #252a2e;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .fila .col .contenido-intereses .interes:hover {
    background-color: #24d7ef;
}

.sobremi .fila .col .contenido-intereses .interes i {
    font-size: 30px;
    margin-bottom: 10px;
}

.btn_sobremi {
    background-color: #22e4e4;
    border-radius: 4px; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.btn_sobremi .overlay {
    border-radius: 4px;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    -webkit-transition-duration: 5s; 
    transition-duration: 5s;
    
    
}
.btn_sobremi:hover .overlay {
    width: 100%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}






